Django>=4.2
psycopg2-binary
gunicorn
python-dotenv
whitenoise
pillow
django-ninja>=1.1
django-ninja-simple-jwt>=0.8.1
redis>=5.0
requests>=2.32
pymongo>=4.0
celery>=5.4
kombu>=5.4
flower>=2.0
amqp>=5.0
django-cors-headers>=4.0
coverage>=7.6
locust>=2.31
